*.iml
.gradle
.idea/
*/release
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
/MNIST_data
/result
/SAVE
/test_images
/train-saver
/train_images
/WModel